.thumb.png
layers/
data/
*.xml
node_modules/
localconfig.json
localconfig.js

# german style additions
project-hrb.mml
localconfig.js
data
tmp
**kosmtik
test*.png

# Generated at runtime by Python.
*.pyc   
**/*.pyc
