.thumb.png
layers/
data/
*.xml
node_modules/
localconfig.json
localconfig.js

# german style additions
project-de.mml 
project-de.yaml
localconfig.js
data
tmp
**kosmtik

# Generated at runtime by Python.
*.pyc   
**/*.pyc
