# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.py text eol=lf

# YAML highlighting on GitHub webpage for CartoCSS MML files.
*.mml linguist-language=YAML linguist-detectable
